[submodule "Aldrioh/vendor/GLFW"]
	path = Aldrioh/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Aldrioh/vendor/spdlog"]
	path = Aldrioh/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Aldrioh/vendor/glm"]
	path = Aldrioh/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Aldrioh/vendor/imgui"]
	path = Aldrioh/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Aldrioh\\vendor\\miniaudio"]
	path = Aldrioh\\vendor\\miniaudio
	url = https://github.com/mackron/miniaudio
